In [1]:
# Dict
# -Indexing
# -Multiple data 
# -Ordered
# -Mutable
# d = {<key>:<value>, <key>:<value>, <key>:<value>}

In [2]:
d = {"a":"apple","b":"ball"}
print(d)
print(type(d))
print(len(d))

{'a': 'apple', 'b': 'ball'}
<class 'dict'>
2

In [3]:
print(d["a"])

apple

In [4]:
# d = dict()
d = {}
d[1] = "apple"
d[2] = "ball"
d[3] = "cat"
d

{1: 'apple', 2: 'ball', 3: 'cat'}

In [5]:
d = {1:"apple",2:"ball",3:"cat"}
d[2] = "bomb"
d

{1: 'apple', 2: 'bomb', 3: 'cat'}

In [6]:
d = {1:"apple",2:"ball",3:"cat"}
for i in d:
    print(i)

1
2
3

In [7]:
d = {1:"apple",2:"ball",3:"cat"}
for i in d:
    print(d[i])

apple
ball
cat

In [9]:
d = {1:"apple",2:"ball",3:"cat"}
for i in d.values():
    print(i)

apple
ball
cat

In [10]:
d = {1:"apple",2:"ball",3:"cat"}
for i in d.items():
    print(i)

(1, 'apple')
(2, 'ball')
(3, 'cat')

In [11]:
d = {}
n = int(input("enter no. = "))
for i in range(n):
    name = input("enter name = ")
    number = int(input("enter no. = "))
    d[name] = number
print(d)

enter no. = 2
enter name = ram
enter no. = 98796
enter name = hari
enter no. = 898765
{'ram': 98796, 'hari': 898765}

In [13]:
# No + *
# update
d = {1:"apple"}
c = {2:"ball"}
d.update(c)
print(d)

{1: 'apple', 2: 'ball'}

In [14]:
d = {1:"apple",2:"ball",3:"cat"}
del d[2]
d

{1: 'apple', 3: 'cat'}

In [15]:
d = {1:"apple",2:"ball",3:"cat"}
d.pop(1)
d

{2: 'ball', 3: 'cat'}

In [16]:
d = {1:"apple",2:"ball",3:"cat"}
p = d.pop(1)
print(d)
print(p)

{2: 'ball', 3: 'cat'}
apple

In [17]:
# list inside dict
a = {'Ram':[984778765,980889765],'Shyam':[9845667654,980887876]}
a

{'Ram': [984778765, 980889765], 'Shyam': [9845667654, 980887876]}

In [18]:
a['Ram'][1]

980889765

In [20]:
a['Ram'][1] = 1234567
a

{'Ram': [984778765, 1234567], 'Shyam': [9845667654, 980887876]}

In [21]:
d = {}
n = int(input("Enter n = "))
for i in range(n):
    name = input("Enter name = ")
    ntc_phone = int(input("Enter ntc phone = "))
    ncell_phone = int(input("Enter ncell phone = "))

    d[name] = [ntc_phone,ncell_phone]
    
print(d)

Enter n = 2
Enter name = ram
Enter ntc phone = 123
Enter ncell phone = 456
Enter name = shyam
Enter ntc phone = 780
Enter ncell phone = 789
{'ram': [123, 456], 'shyam': [780, 789]}

In [22]:
info = {'name':['Ram',"Shyam","Hari","Ram"],
       'age':[78,89,67,89],
       'add':['Kathmandu','Bhaktapur','Lalitpur',"Kathmandu"]}
info

{'name': ['Ram', 'Shyam', 'Hari', 'Ram'],
 'age': [78, 89, 67, 89],
 'add': ['Kathmandu', 'Bhaktapur', 'Lalitpur', 'Kathmandu']}

In [25]:
print(info['name'][0])
print(info['age'][0])
print(info['add'][0])

Ram
78
Kathmandu

In [26]:
c = 0
for i in info['name']:
    if "Ram" == i:
        print(info['name'][c],info['age'][c],info['add'][c])

    c = c+1

Ram 78 Kathmandu
Ram 89 Kathmandu

In [1]:
# dict inside list
a = [{1:"apple",2:"ball"}, {3:"cat",4:"dog"}]
a

[{1: 'apple', 2: 'ball'}, {3: 'cat', 4: 'dog'}]

In [2]:
print(a[0])

{1: 'apple', 2: 'ball'}

In [3]:
print(a[0][1])

apple

In [4]:
# dict inside list
data = [{'name':'Ram','age':45,'add':'Kathmandu'},
       {'name':'Shyam','age':54,'add':'Kathmandu'},
       {'name':'Hari','age':25,'add':'Jhapa'}]
data[2]['add']

'Jhapa'

In [5]:
# dict inside list
data = [{'name':'Ram','age':45,'add':['Kathmandu','Jhapa']},
       {'name':'Shyam','age':54,'add':['Kathmandu','Dhading']},
       {'name':'Hari','age':25,'add':['Jhapa','Kapan']}]
data

[{'name': 'Ram', 'age': 45, 'add': ['Kathmandu', 'Jhapa']},
 {'name': 'Shyam', 'age': 54, 'add': ['Kathmandu', 'Dhading']},
 {'name': 'Hari', 'age': 25, 'add': ['Jhapa', 'Kapan']}]

In [6]:
d = {1:"apple",2:"ball",1:"ball"}
d

{1: 'ball', 2: 'ball'}

In [7]:
d = {1:"apple",2:"ball",3:"ball"}
d

{1: 'apple', 2: 'ball', 3: 'ball'}

In [9]:
# dict inside dict
data = {1:{'name':'Ram','age':45,'add':'Kathmandu'},
       2:{'name':'Shyam','age':54,'add':'Kathmandu'},
       3:{'name':'Hari','age':25,'add':'Jhapa'}}
print(data)

{1: {'name': 'Ram', 'age': 45, 'add': 'Kathmandu'}, 2: {'name': 'Shyam', 'age': 54, 'add': 'Kathmandu'}, 3: {'name': 'Hari', 'age': 25, 'add': 'Jhapa'}}

In [10]:

# WAP to create list inside dict with CRUD

In [11]:
d = {'name':[],'age':[],'add':[]}
n = int(input("Enter n = "))
for i in range(n):
    name = input("Enter name = ")
    age = int(input("Enter age = "))
    add = input("Enter add = ")
    d['name'].append(name)
    d['age'].append(age)
    d['add'].append(add)
    
print(d)

Enter n = 2
Enter name = ram
Enter age = 45
Enter add = ktm
Enter name = hari
Enter age = 67
Enter add = bkt
{'name': ['ram', 'hari'], 'age': [45, 67], 'add': ['ktm', 'bkt']}

In [1]:
l = []
n = int(input("enter n ="))
for i in range(n):
    name = input("Enter name = ")
    age = int(input("Enter age = "))
    add = input("Enter add = ")
    data = {'name':name,'age':age,'add':add}
    l.append(data)
    
print(l)

enter n =2
Enter name = ram
Enter age = 23
Enter add = ktm
Enter name = sde
Enter age = 67
Enter add = kik
[{'name': 'ram', 'age': 23, 'add': 'ktm'}, {'name': 'sde', 'age': 67, 'add': 'kik'}]

In [2]:
d= {}
n = int(input("Enter n = "))
for i in range(n):
    name = input("Enter name = ")
    age = int(input("Enter age = "))
    add = input("Enter add = ")
    d[i] = {'name':name,'age':age,'add':add}
    
print(d)

Enter n = 2
Enter name = ram
Enter age = 45
Enter add = kui
Enter name = hji
Enter age = 90
Enter add = kjhi
{0: {'name': 'ram', 'age': 45, 'add': 'kui'}, 1: {'name': 'hji', 'age': 90, 'add': 'kjhi'}}