In [1]:
# file = open('<file_name>','<mode>')
# <operation>
# file.close()

# with open('<file_name>','<mode>') as file:
#     <operation>


# modes
# r -> read
# x -> create
# w -> write
# a -> append

In [1]:
file = open("data.txt","x")
file.close()

In [3]:
file = open('data.txt','r')
x = file.read()
print(x)
print(type(x))
file.close()

hello
hello
hello world
hello
<class 'str'>

In [4]:
x

'hello \nhello \nhello world\nhello'

In [5]:
y = x.split("\n")
print(y)

['hello ', 'hello ', 'hello world', 'hello']

In [4]:
file = open('data.txt','r')
x = file.read()
y = x.split("\n")
line_no = int(input("Enter line no = "))
print(y[line_no-1])

Enter line no = 3
3 hello world

In [6]:
#write in file
file = open("data.txt","w")
file.write("I am Suroj")
file.close()

In [7]:
#write in file
students = ""
no_of_students = int(input("Enter no of students = "))
for i in range(no_of_students):
    name = input("Enter name = ")
    students = students + name + "\n"
print(students)

file = open('data.txt','w')
file.write(students)
file.close()

Enter no of students = 3
Enter name = ram
Enter name = shyam
Enter name = hari
ram
shyam
hari

In [2]:
bill = ""
# grand_total = 0
n = int(input("Enter n = "))
for i in range(n):
    name = input("Enter product name = ")
    price = float(input("Enter price = "))
    qty = float(input("Enter qty = "))
    total = price * qty
    row = f"{name}\t{price}\t{qty}\t{total}\n"
    bill = bill + row
#     grand_total = grand_total + total

print(bill)
file = open('bill.txt','w')
file.write('product\tprice\tqty\ttotal\n')
file.write(bill)
# file.write(str(grand_total))
file.close()

Enter n = 3
Enter product name = momo
Enter price = 100
Enter qty = 2
Enter product name = coke
Enter price = 80
Enter qty = 2
Enter product name = cake
Enter price = 100
Enter qty = 3
momo 	100.0	2.0	200.0
coke	80.0	2.0	160.0
cake	100.0	3.0	300.0

In [1]:
bill = ""
grand_total = 0
n = int(input("Enter n = "))
for i in range(n):
    name = input("Enter product name = ")
    price = float(input("Enter price = "))
    qty = float(input("Enter qty = "))
    total = price * qty
    row = f"{name},{price},{qty},{total}\n"
    bill = bill + row
    grand_total = grand_total + total

print(bill)
file = open('bill.csv','w')
file.write('product,price,qty,total\n')
file.write(bill)
file.write(str(grand_total))
file.close()

Enter n = 3
Enter product name = pen
Enter price = 4
Enter qty = 3
Enter product name = soap
Enter price = 50
Enter qty = 5
Enter product name = copy
Enter price = 60
Enter qty = 5
pen,4.0,3.0,12.0
soap,50.0,5.0,250.0
copy,60.0,5.0,300.0

In [3]:
file = open('bill.txt','r')
data = file.read()
print(data)
file.close()

product	price	qty	total
momo 	100.0	2.0	200.0
coke	80.0	2.0	160.0
cake	100.0	3.0	300.0

In [4]:
list_bill = []
ld = data.split('\n')[:-1]
for i in ld:
    x = i.split('\t')
    list_bill.append(x)

list_bill

[['product', 'price', 'qty', 'total'],
 ['momo ', '100.0', '2.0', '200.0'],
 ['coke', '80.0', '2.0', '160.0'],
 ['cake', '100.0', '3.0', '300.0']]

In [5]:
bill = ""
# grand_total = 0
n = int(input("Enter n = "))
for i in range(n):
    name = input("Enter product name = ")
    price = float(input("Enter price = "))
    qty = float(input("Enter qty = "))
    total = price * qty
    row = f"{name},{price},{qty},{total}\n"
    bill = bill + row
    # grand_total = grand_total + total

print(bill)
file = open('bill1.csv','w')
file.write('product,price,qty,total\n')
file.write(bill)
file.close()

Enter n = 3
Enter product name = momo
Enter price = 100
Enter qty = 4
Enter product name = coke
Enter price = 45
Enter qty = 5
Enter product name = cake
Enter price = 200
Enter qty = 6
momo,100.0,4.0,400.0
coke,45.0,5.0,225.0
cake,200.0,6.0,1200.0

In [6]:
# The the above data
list_bill = []
ld = bill.split('\n')[:-1]
for i in ld:
    x = i.split(',')
    x[1] = float(x[1])
    x[2] = float(x[2])
    x[3] = float(x[3])
    list_bill.append(x)

list_bill

[['momo', 100.0, 4.0, 400.0],
 ['coke', 45.0, 5.0, 225.0],
 ['cake', 200.0, 6.0, 1200.0]]

In [2]:
import pandas as pd
a = pd.read_csv("bill1.csv")
a

  product  price  qty   total
0    momo  100.0  4.0   400.0
1    coke   45.0  5.0   225.0
2    cake  200.0  6.0  1200.0

In [3]:
import csv
a = [['Name','Price','Quantity','Total'],
     ['Momo',200,3,600],
     ['Coke',100,2,200]]
with open('bill2.csv',"w") as file:
    x = csv.writer(file)
    x.writerows(a)

In [4]:
import csv
with open('bill2.csv','r') as file:
    reader = csv.DictReader(file)
    for i in reader:
        print(i)

{'Name': 'Momo', 'Price': '200', 'Quantity': '3', 'Total': '600'}
{'Name': 'Coke', 'Price': '100', 'Quantity': '2', 'Total': '200'}

In [6]:
import csv
data = []
with open('bill2.csv','r') as file:
    reader = csv.DictReader(file)
    for i in reader:
        data.append(i)
print(data)

[{'Name': 'Momo', 'Price': '200', 'Quantity': '3', 'Total': '600'}, {'Name': 'Coke', 'Price': '100', 'Quantity': '2', 'Total': '200'}]

In [10]:
with open("bill1.csv","r") as file:
    x = file.read()
    y = x.split('\n')
    print(y)

['product,price,qty,total', 'momo,100.0,4.0,400.0', 'coke,45.0,5.0,225.0', 'cake,200.0,6.0,1200.0', '']

In [11]:
d = []
with open("bill1.csv","r") as file:
    x = file.read()
    y = x.split('\n')
    print(y)
    
for i in y[0:-1]:
    d.append(i.split(','))
print(d)

['product,price,qty,total', 'momo,100.0,4.0,400.0', 'coke,45.0,5.0,225.0', 'cake,200.0,6.0,1200.0', '']
[['product', 'price', 'qty', 'total'], ['momo', '100.0', '4.0', '400.0'], ['coke', '45.0', '5.0', '225.0'], ['cake', '200.0', '6.0', '1200.0']]

In [3]:
import csv
a =["hotpot",200,2,400]
with open("bill2.csv","a") as file:
    x = csv.writer(file)
    x.writerow(a)