In [1]:
# python collection
# list 
# tuple
# set
#  dictionary

In [2]:
# list
# indexing
# multiple and duplicate values
# ordered
# mutable

In [3]:
a = ["apple","ball","cat","dog","ear"]
b = [1,2,3,4,5,6,7,8]
print(type(a))
print(type(b))

<class 'list'>
<class 'list'>

In [6]:
a = ["apple","ball","cat","dog","ear"]
print(a[0])
print(a[0:2])
print(a[0:5:2])

apple
['apple', 'ball']
['apple', 'cat', 'ear']

In [7]:
b = [1,2,3,4,5,6,7,8]
print(len(b))

8

In [8]:
a = ["apple","ball","cat","dog","ear"]
b = [1,2,3,4,5,6,7,8]
c = a + b 
print(c)

['apple', 'ball', 'cat', 'dog', 'ear', 1, 2, 3, 4, 5, 6, 7, 8]

In [10]:
a = ["apple","ball","cat","dog","ear"]
b = a * 2 
print(b)

['apple', 'ball', 'cat', 'dog', 'ear', 'apple', 'ball', 'cat', 'dog', 'ear']

In [11]:
# a = []
a = list()
a = a + ["apple"]
a = a + ["ball"]
print(a)

['apple', 'ball']

In [12]:
n = int(input("enter n = "))
a = []
for i in range(n):
    x = int(input("enter x = "))
    a = a + [x]
print(a)

enter n = 4
enter x = 1
enter x = 2
enter x = 3
enter x = 5
[1, 2, 3, 5]

In [13]:
a = [234, 456, 234, 56, 234, 567, 34, 567, 345, 67]
print("The max value = ",max(a))
print("The min value = ",min(a))
print("The sum = ",sum(a))
print("The avg = ",sum(a)/len(a))

The max value =  567
The min value =  34
The sum =  2794
The avg =  279.4

In [2]:
a = [234, 456, 234, 56, 234, 567, 34, 567, 345, 67]
a.sort()
print(a)

[34, 56, 67, 234, 234, 234, 345, 456, 567, 567]

In [3]:
a.reverse()
print(a)

[567, 567, 456, 345, 234, 234, 234, 67, 56, 34]

In [4]:
a = [234, 456, 234, 56, 234, 567, 34, 567, 345, 67]
a.reverse()
print(a)

[67, 345, 567, 34, 567, 234, 56, 234, 456, 234]

In [2]:
a = [234, 456, 234, 56, 234, 567, 34, 567, 345, 67]
a.sort()
print(a)

[34, 56, 67, 234, 234, 234, 345, 456, 567, 567]

In [3]:
a = ["Zebra","Banana","Xray","apple","Cat"]
a.sort()
print(a)

['Banana', 'Cat', 'Xray', 'Zebra', 'apple']

In [5]:
a = ["Zebra","Banana","Xray","apple","Cat"]
a[0] = 'Apple'
print(a)

['Apple', 'Banana', 'Xray', 'apple', 'Cat']

In [6]:
# #data entry
# append() insert() extend()

# #delete value
# del remove() pop()

In [7]:
# append()
a = []
a.append("apple")
a.append("ball")
print(a)

['apple', 'ball']

In [2]:
a = []
n = int(input("enter n = "))
for i in range(n):
    x = int(input("enter x ="))
    a.append(x)
print(a)

enter n = 4
enter x =1
enter x =2
enter x =3
enter x =4
[1, 2, 3, 4]

In [4]:
a = [1,2,3,4]
b = ['apple','Ball','cat','dog']
a.extend(b)
print(a)

[1, 2, 3, 4, 'apple', 'Ball', 'cat', 'dog']

In [5]:
a = [1,2,3,4]
a.insert(0,"apple")
print(a)

['apple', 1, 2, 3, 4]

In [7]:
# update
b = ['apple','Ball','cat','dog']
b[1] = 'ball'
print(b)

['apple', 'ball', 'cat', 'dog']

In [1]:
b = ['apple','Ball','cat','dog']
del b[1]
print(b)

['apple', 'cat', 'dog']

In [16]:
b = ['apple','Ball','cat','dog']
b.remove('apple')
print(b)

['Ball', 'cat', 'dog']

In [6]:
b = ['apple','Ball','cat','dog','apple']
b.pop(0)
print(b)

['Ball', 'cat', 'dog', 'apple']

In [8]:
# update multiple value
a = ["zebra","Banana","apple","cat","Zebra"]
for i in range(len(a)):
    if a[i] == "zebra":
        a[i] = "Zebra"
print(a)

['Zebra', 'Banana', 'apple', 'cat', 'Zebra']

In [9]:
# update multiple value
a = ["zebra","Banana","apple","cat","zebra"]
for i in range(len(a)):
    if a[i] == "zebra":
        a[i] = "Zebra"
print(a)

['Zebra', 'Banana', 'apple', 'cat', 'Zebra']

In [13]:
# index
a = ["zebra","Banana","apple","cat","Zebra"]
l = a.index("Zebra")
print(l)

4

In [11]:
# update multiple value
a = ["zebra","Banana","apple","cat","zebra"]
for i in range(len(a)):
    if a[i] == "zebra":
        print(i)

0
4

In [12]:
a = ["zebra","Banana","apple","cat","zebra"]
l = a.count("zebra")
print(l)

2

In [17]:
a = ["zebra","Banana","apple","cat","zebra"]
for i in range(a.count("zebra")):
    a.remove("zebra")
print(a)

['Banana', 'apple', 'cat']

In [1]:
b = ['apple','Ball','cat','dog']
c = b.remove('apple')
print(c)
# b.remove('apple') removes "apple" from the list in place.

# After this, b = ['Ball', 'cat', 'dog'].

# But list.remove() does not return the modified list.
# Instead, it returns None.

# So c will be None.

None

In [3]:
b = ['apple','Ball','cat','dog','frog','apple']
if "apple" in b:
    print("YES")
    print(b.count("apple"))
else:
    print("no")

YES
2

In [5]:
# list inside list
a = [[1,2,3],
   [4,5,6],
   [7,8,9]]
print(a,type(a))

[[1, 2, 3], [4, 5, 6], [7, 8, 9]] <class 'list'>

In [9]:
a = [["Ram",25,"ltp"],
   ["shyam",15,"bkt"],
   ["Hari",18,"ktm"]]
print(a[0])
print(a[0][0])
print(a[1][2])

['Ram', 25, 'ltp']
Ram
bkt

In [10]:
a.append(['sita',19,'chitwan'])
print(a)

[['Ram', 25, 'ltp'], ['shyam', 15, 'bkt'], ['Hari', 18, 'ktm'], ['sita', 19, 'chitwan']]

In [2]:
a = [["Ram",25,"ltp"],
   ["shyam",15,"bkt"],
   ["Hari",18,"ktm"]]
print(a[0])
print(a[0][0])
print(a[1][2])
a.append([25,"Sita","chitwan"])
print(a)

['Ram', 25, 'ltp']
Ram
bkt
[['Ram', 25, 'ltp'], ['shyam', 15, 'bkt'], ['Hari', 18, 'ktm'], [25, 'Sita', 'chitwan']]

In [3]:
a[0] = ["rama",23,'london']
print(a)

[['rama', 23, 'london'], ['shyam', 15, 'bkt'], ['Hari', 18, 'ktm'], [25, 'Sita', 'chitwan']]

In [5]:
a[0][2] = 'New York'
print(a)

[['rama', 23, 'New York'], ['shyam', 15, 'bkt'], ['Hari', 18, 'ktm'], [25, 'Sita', 'chitwan']]

In [1]:
info = [["Ram",89,"Kathmandu"],
       ["Shyam",56,"Bhaktapur"],
       ["Hari",34,"Lalitpur"]]
for i in range(0,len(info)):
    x = input(f"Enter surname of {info[i][0]}= ")
    info[i].insert(1,x)
    
print(info)

Enter surname of Ram= prasad
Enter surname of Shyam= kc
Enter surname of Hari= bc
[['Ram', 'prasad', 89, 'Kathmandu'], ['Shyam', 'kc', 56, 'Bhaktapur'], ['Hari', 'bc', 34, 'Lalitpur']]

In [2]:
info = [["Ram",89,"Kathmandu"],
       ["Shyam",56,"Bhaktapur"],
       ["Hari",34,"Lalitpur"]]
name = input("Enter name = ")
for i in info:
    if name.lower() == i[0].lower():
        print(i)

Enter name = ram
['Ram', 89, 'Kathmandu']