In [1]:
# for loop
# while loop
# for loop
# range(5)  #0,1,2,3,4      for(i = 0;i<5;i++)
# range(1,5) # 1,2,3,4      for(i = 1;i<5;i++)
# range(1,10,2) #1,3,5,7,9  for(i = 1;i<5;i=i+2)

In [2]:
for i in range(5):
    print(i,"Hello world")

0 Hello world
1 Hello world
2 Hello world
3 Hello world
4 Hello world

In [3]:
for i in range(1,5):
    print(i,"Hello world")

1 Hello world
2 Hello world
3 Hello world
4 Hello world

In [5]:
for i in range(1,10,2):
    print(i,"Hello world")

1 Hello world
3 Hello world
5 Hello world
7 Hello world
9 Hello world

In [8]:
for i in range(1,10,2):
    print(i,"Hello world",end=" ")

1 Hello world 3 Hello world 5 Hello world 7 Hello world 9 Hello world

In [10]:
n = int(input("enter n = "))
for i in range(1,11):
    print(n,"*",i,"=",n*i)

enter n = 7
7 * 1 = 7
7 * 2 = 14
7 * 3 = 21
7 * 4 = 28
7 * 5 = 35
7 * 6 = 42
7 * 7 = 49
7 * 8 = 56
7 * 9 = 63
7 * 10 = 70

In [11]:
n = int(input("enter n = "))
fact = 1
for i in range(1,n+1):
    fact = fact *i
print(fact)

enter n = 5
120

In [12]:
for i in range(3):
    x = int(input("Enter x = "))
    
print(x)

Enter x = 76
Enter x = 89
Enter x = 09
9

In [13]:
s = 0
for i in range(3):
    x = int(input("Enter x = "))
    s = s + x
    
    
print(s)

Enter x = 1
Enter x = 2
Enter x = 3
6

In [14]:
n = int(input("Enter n = "))
for i in range(n):
    physics = int(input("Enter physics marks = "))
    chemistry = int(input("Enter chemistry marks = "))
    math = int(input("Enter  math marks = "))
    english = int(input("Enter english marks = "))
    nepali = int(input("Enter nepali marks = "))

    total = physics + chemistry + math + english + nepali

    per = total/5
    if per >= 80:
        grade = 'A'
    elif per >= 60:
        grade = 'B'
    elif per >= 45:
        grade = 'C'
    else:
        grade = 'F'

    print("The total marks = ",total)
    print("The per = ",per)
    print("The grade = ",grade)

Enter n = 3
Enter physics marks = 78
Enter chemistry marks = 87
Enter  math marks = 87
Enter english marks = 65
Enter nepali marks = 65
The total marks =  382
The per =  76.4
The grade =  B
Enter physics marks = 76
Enter chemistry marks = 98
Enter  math marks = 98
Enter english marks = 43
Enter nepali marks = 67
The total marks =  382
The per =  76.4
The grade =  B
Enter physics marks = 67
Enter chemistry marks = 76
Enter  math marks = 54
Enter english marks = 45
Enter nepali marks = 87
The total marks =  329
The per =  65.8
The grade =  B

In [1]:
n = int(input("enter n ="))
data = ""
grand_total = 0
for i in range(n):
    x = input("enter x = ")
    quantity = int(input("enter q ="))
    price = int(input("enter p  = "))
    total = quantity * price
    data = data + x + " "+ str(quantity)+" " + str(price)+" " + str(total) + "\n" 
    grand_total = grand_total+ total
print(data)
print(grand_total)

enter n =3
enter x = lux
enter q =4
enter p  = 40
enter x = pen
enter q =5
enter p  = 50
enter x = copy
enter q =5
enter p  = 100
lux 4 40 160
pen 5 50 250
copy 5 100 500

910

In [5]:
n = int(input("enter n = "))
info = ""
for i in range(n):
    name = input("enter name =")
    phone_no = int(input("enter no."))
    info = info + name + " " + str(phone_no) + "\n"
print(info)

enter n = 2
enter name =ram
enter no.7865
enter name =shyam
enter no.4578
ram 7865
shyam 4578

In [6]:
for i in range(1,10):
    print(i * "o")

o
oo
ooo
oooo
ooooo
oooooo
ooooooo
oooooooo
ooooooooo

In [7]:
# control statement
# break
# continue
# pass

In [2]:
for i in range(10):
    if i ==5:
        break
    print(i)

0
1
2
3
4

In [3]:
for i in range(10):
    if i ==5:
        continue
    print(i)

0
1
2
3
4
6
7
8
9

In [4]:
for i in range(5):
    pass

In [5]:
# while <condition>:
#     <operation>

In [6]:
i = 0
while i<5:
    print(i,"Hello World")
    i = i + 1

0 Hello World
1 Hello World
2 Hello World
3 Hello World
4 Hello World

In [7]:
i = 1
while i<5:
    print(i,"Hello World")
    i = i + 1

1 Hello World
2 Hello World
3 Hello World
4 Hello World

In [8]:
i = 0
while i<5:
    print(i,"Hello World")
    i = i + 2

0 Hello World
2 Hello World
4 Hello World

In [9]:
i = 0
while i<5:
    print(i,"Hello World")
    i = i + 0.5

0 Hello World
0.5 Hello World
1.0 Hello World
1.5 Hello World
2.0 Hello World
2.5 Hello World
3.0 Hello World
3.5 Hello World
4.0 Hello World
4.5 Hello World

In [10]:
i = 1
n = int(input("Enter n = "))
while i<=10:
    print(n,"*",i,"=",n*i)
    i+=1

Enter n = 6
6 * 1 = 6
6 * 2 = 12
6 * 3 = 18
6 * 4 = 24
6 * 5 = 30
6 * 6 = 36
6 * 7 = 42
6 * 8 = 48
6 * 9 = 54
6 * 10 = 60

In [12]:
for i in range(5,-1,-1):
    print(i)

5
4
3
2
1
0

In [13]:
i = 5
while i>0:
    print(i,"Hello World")
    i = i-1

5 Hello World
4 Hello World
3 Hello World
2 Hello World
1 Hello World

In [14]:
s = 0
i = 0
n = int(input("Enter n = "))
while i < n:
    x = int(input("Enter x = "))
    s = s+x
    i = i+1
print(s)

Enter n = 3
Enter x = 1
Enter x = 2
Enter x = 3
6

In [15]:
data = ""
i = 0
n = int(input("Enter n = "))
while i<n:
    name = input("Enter name = ")
    phone = int(input("Enter phone = "))
    info = name + " "+ str(phone) + "\n"
    data = data + info
    i = i+1
    
print(data)

Enter n = 2
Enter name = ram
Enter phone = 1234
Enter name = hari
Enter phone = 1235
ram 1234
hari 1235