In [1]:
# # Set
# -No indexing
# -No ordering
# -Multiple values but no duplicate values
# -Mutable

In [2]:
s = set()
s = {1,2,3,4}
print(type(s))

<class 'set'>

In [3]:
print(s[0])

TypeError: 'set' object is not subscriptable

In [4]:
s = {"apple","ball","cat","fish","dog"}
print(s)

{'cat', 'fish', 'apple', 'ball', 'dog'}

In [5]:
s

{'apple', 'ball', 'cat', 'dog', 'fish'}

In [6]:
s = {34,56,22,78,1,78,34,23,79}
print(s)

{1, 34, 22, 23, 56, 78, 79}

In [7]:
s

{1, 22, 23, 34, 56, 78, 79}

In [8]:
s = {"apple","ball","ball","cat","fish","dog","apple"}
s

{'apple', 'ball', 'cat', 'dog', 'fish'}

In [9]:
s = {"apple","ball","ball","cat","fish","dog","apple"}
list(set(s))

['cat', 'fish', 'apple', 'ball', 'dog']

In [10]:
#Mutable
s = set()
s.add('apple')
s.add('ball')
s.add('cat')
s

{'apple', 'ball', 'cat'}

In [11]:
# in set and dic no + *

In [12]:
# update()
a = {1,2,3,4,5,6,7}
b = {5,6,7,2,3}
a.update(b)
a

{1, 2, 3, 4, 5, 6, 7}

In [13]:
#No list inside set
a = {[1,2,3]}
a

TypeError: unhashable type: 'list'

In [14]:
#  No dict inside set
a = {{"a":"Apple"}}
a

TypeError: unhashable type: 'dict'

In [15]:
#tuple inside set
a = {(1,2,3)}
a

{(1, 2, 3)}

In [16]:
#No  set inside set
a = {{1,2,3}}
a

TypeError: unhashable type: 'set'

In [19]:
apple = {"Ram","Shyam","Hari","Jobs","Steave","John"}
ms = {"Satya","Bill","Gates","Hari","John","Nabin"}

print(apple.intersection(ms))

{'Hari', 'John'}

In [20]:
print(apple.union(ms))

{'Satya', 'Bill', 'Jobs', 'Hari', 'Nabin', 'John', 'Ram', 'Gates', 'Shyam', 'Steave'}

In [21]:
print(apple - ms)

{'Jobs', 'Shyam', 'Ram', 'Steave'}

In [22]:
print(ms - apple)

{'Bill', 'Satya', 'Nabin', 'Gates'}

In [23]:
(apple - ms).union(ms - apple)

{'Bill', 'Gates', 'Jobs', 'Nabin', 'Ram', 'Satya', 'Shyam', 'Steave'}

In [24]:
a = {1,2,3,4,5,6,7,8,9,0}
b = {2,4,6,8,0}
print(a.issubset(b))
print(b.issubset(a))

False
True

In [25]:
print(a.issuperset(b))
print(b.issuperset(a))

True
False