In [1]:
# string
a = 'Hello World'
b = " Hello World"
c = ''' Hello World'''
print(type(a))
print(type(b))
print(type(c))

<class 'str'>
<class 'str'>
<class 'str'>

In [2]:
a = "10"
print(a)

10

In [3]:
# operators + *
a = "Hello "
b = "World"
c = a +b 
print(c)

Hello World

In [4]:
a = "Hello World\n"
b = 2 * a
print(b)

Hello World
Hello World

In [6]:
a = "Hello world"
for i in a:
    print(i,"Hello world")

H Hello world
e Hello world
l Hello world
l Hello world
o Hello world
  Hello world
w Hello world
o Hello world
r Hello world
l Hello world
d Hello world

In [7]:
a = "Hello world"
for i in a:
    print(i,end = " ")

H e l l o   w o r l d

In [3]:
a = "Hello world I am python"
print(a[0])
print(a[0:15])
print(a[0:20:2])
print(a[0:])

H
Hello world I a
HlowrdIa y
Hello world I am python

In [12]:
a = "Python"
print(a[-3])

h

In [2]:
a = "puthon"
print(a[-1:-5:-1])

noht

In [1]:
a = "python"
print(len(a))

6

In [5]:
a = "python"
print(a[-3:])
print(a[3:])

hon
hon

In [2]:
a = "python"
print(a[2:])

thon

In [4]:
a = "python"
print(a[::-1])

nohtyp

In [6]:
# string formatting

In [7]:
name = input("Enter name = ")
age = int(input("Enter age = "))
add = input("Enter address = ")

# info = "Hello world I am " + name+ "I am from " + add + "I am "+ str(age)
info = f"Hello world I am {name}. I am from {add}. I am {age}."
print(info)

Enter name = ram
Enter age = 45
Enter address = ktm
Hello world I am ram. I am from ktm. I am 45.

In [5]:
n = int(input("enter n ="))
data = ""
grand_total = 0
for i in range(n):
    name = input("enter name")
    quantity = int(input("enter q = "))
    price = int(input("enter price = "))
    total = quantity * price
    grand_total = grand_total + total
    bill = f" {name} {quantity} {total} \n"
    data = data + bill
print(data)
print(grand_total)

enter n =2
enter namelux
enter q = 20
enter price = 40
enter namepen
enter q = 2
enter price = 200
 lux 20 800
 pen 2 400

1200

In [7]:
a = "Ram Shyam Hari Nabin Akash Sita Manish Ramesh"
name = input("enter name = ")
if name in a:
    print("yes")
    print(a.count(name))
else:
    print("no")

enter name = ram
no

In [11]:
a = "Ram Shyam Hari Nabin Akash Sita Manish Ramesh"
print(a.lower())
print(a.upper())
print(a)

ram shyam hari nabin akash sita manish ramesh
RAM SHYAM HARI NABIN AKASH SITA MANISH RAMESH
Ram Shyam Hari Nabin Akash Sita Manish Ramesh

In [12]:
a = "Ram Shyam Hari Nabin Akash Sita Manish Ramesh".lower()
name = input("enter name = ").lower()
if name in a:
    print("yes")
    print(a.count(name))
else:
    print("no")

enter name = ram
yes
2

In [13]:
a = "Ram Shyam Hari Nabin Akash Sita Manish Ramesh"
a = a.lower()
print(a)

ram shyam hari nabin akash sita manish ramesh

In [14]:
a = "ram shyam hari nabin akash sita manish ramesh"
print(a.title())

Ram Shyam Hari Nabin Akash Sita Manish Ramesh

In [15]:
a = "Ram Shyam Hari Nabin Akash Sita Manish Ramesh"
name = "Rajesh"
if name not in a:
    print("no there is")

no there is

In [16]:
a = "Ram Shyam Hari Nabin Akash Sita Manish Ramesh"
a.split()

['Ram', 'Shyam', 'Hari', 'Nabin', 'Akash', 'Sita', 'Manish', 'Ramesh']