In [1]:
# Tuple
# -Indexing
# -Multiple and duplicate data
# -Ordered
# -Imutable
# a = ()

In [2]:
a = (1)
print(type(a))

<class 'int'>

In [3]:
a = (1,)
print(type(a))

<class 'tuple'>

In [4]:
a = (1,2,3,4,5,6,7,8,9,1)
print(a[0])
print(a[0:5])
print(a[0:10:2])

1
(1, 2, 3, 4, 5)
(1, 3, 5, 7, 9)

In [5]:
a = (1,2,3,4,5,6,7,8,9,1)
print(a)

(1, 2, 3, 4, 5, 6, 7, 8, 9, 1)

In [6]:
a = (1,2,3,4)
b = (6,7,8,9)
c = a+b
print(c)

(1, 2, 3, 4, 6, 7, 8, 9)

In [8]:
a = (1,2,3,4)
b = a * 2
print(b)

(1, 2, 3, 4, 1, 2, 3, 4)

In [9]:
# No append() insert() extend()
# No update
# No delete  remove() pop() del
# No sort()
# We can do max() min() sum() index()

In [2]:
a = tuple()
a = a + (1,)
a = a + (2,)
a

(1, 2)

In [1]:
a = ()
n = int(input("enter n ="))
for i in range(n):
    x = input("enter x =")
    a = a + (x,)
print(a)

enter n =3
enter x =apple
enter x =ball
enter x =cat
('apple', 'ball', 'cat')

In [2]:
a = (1,2,3)
b = list(a)
print(b)

[1, 2, 3]

In [3]:
a = [1,2,3]
b = tuple(a)
print(b)

(1, 2, 3)

In [4]:
a = (1,2,3)
b = list(a)
del b[0]
a = tuple(b)
a

(2, 3)

In [5]:
a = "Python"
list(a)

['P', 'y', 't', 'h', 'o', 'n']

In [6]:
a = "Python"
tuple(a)

('P', 'y', 't', 'h', 'o', 'n')

In [7]:
a = 12
list(a)

TypeError: 'int' object is not iterable

In [8]:
a = 11
tuple(a)

TypeError: 'int' object is not iterable

In [9]:
# tuple inside list
a = [(1,2,3)]
print(a)

[(1, 2, 3)]

In [12]:
# list inside tuple
a = ([1,2,3],)
print(a)

([1, 2, 3],)