In [1]:
a = 10 
a

10

In [13]:
a = 10
b = 10.5
c = "hello world"
d = True
print(a,10.8)
print(b,"apple")
print(c)
print(d)
print(a,b,c,d)

10 10.8
10.5 apple
hello world
True
10 10.5 hello world True

In [4]:
a = 10
b = 10.5
c = "hello world"
d = True
print(a,type(a))
print(b,type(b))
print(c,type(c))
print(d,type(d))

10 <class 'int'>
10.5 <class 'float'>
hello world <class 'str'>
True <class 'bool'>

In [7]:
# string
# c = "hello"
# c = 'hello'
# c = '''hello'''
c = "ram said 'he is a doctor'"
c

"ram said 'he is a doctor'"

In [8]:
c = "ram said 'he is a doctor'"
print(c)

ram said 'he is a doctor'

In [10]:
c = '''ram said "he is a doctor"'''
print(c)

ram said "he is a doctor"

In [11]:
c = '''ram said "he is a doctor"'''
c

'ram said "he is a doctor"'

In [14]:
a_b = 10
print(a_b)

10

In [1]:
a = 10,11,12
print(a)
print(type(a))

(10, 11, 12)
<class 'tuple'>

In [16]:
a = 10
a = 11
a = 12
print(a)

12

In [17]:
# operators 
# + - * / ** //

In [18]:
a = 10
b = 10.5
c = "hello world"
d = True
c = a + b
print(c)

20.5

In [19]:
c = a - b
c

-0.5

In [20]:
c = a * b
c

105.0

In [21]:
c = a / b
c

0.9523809523809523

In [22]:
c = a ** b
c

31622776601.683792

In [24]:
a = 10.5 
b = 10
c = a % b
c

0.5

In [25]:
a = 10.5 
b = 10
c = a // b
c

1.0

In [26]:
a = "Hello"
b = "World"
c = a + b
print(c)

HelloWorld

In [29]:
a = "Hello "
b = "World"
c = a + b
print(c)

Hello World

In [30]:
a = "Hello "
b = 45
c = a + b
print(c)

TypeError: can only concatenate str (not "int") to str

In [32]:
a = "Hello "
b = str(45)
c = a + b
print(c)

Hello 45

In [33]:
a = "Hello World\n"
b = 4
c = a * b
print(c)

Hello World
Hello World
Hello World
Hello World

In [34]:
a = True
b = False

c =a+b
print(c)

1

In [35]:
a = True
b = True

c =a+b
print(c)

2

In [36]:
a = False
b = False

c =a+b
print(c)

0

In [37]:
p = 10000
t = 4
r = 10.5

i = p * t * r / 100

print("The value of i ",i)

The value of i  4200.0

In [40]:
# I/O operation
a = input()
print(a)

10
10

In [41]:
a = input()
a

10

'10'

In [43]:
a = input("Enter a = ")
print(a,type(a))

Enter a = 10
10 <class 'str'>

In [46]:
a = input("Enter a = ")
b = input("Enter b = ")
c = a+b
print(c)

Enter a = 10
Enter b = 10
1010

In [47]:
# typecast
a = int(input("Enter a = "))
b = int(input("Enter b = "))
c = a+b
print(c)

Enter a = 10
Enter b = 10
20

In [48]:
a = 10
b = str(a)
b

'10'

In [49]:
a = 10
b = str(a)
print(b)

10

In [50]:
a = "20"
b = int(a)
b

20

In [51]:
a = "Ten"
b = int(a)
b

ValueError: invalid literal for int() with base 10: 'Ten'

In [52]:
a = "10.5"
b = float(a)
b

10.5

In [53]:
a = "10.5"
b = int(a)
b

ValueError: invalid literal for int() with base 10: '10.5'

In [54]:
a = 10.5
int(a)

10

In [55]:
physics = int(input("Enter physics marks = "))
chemistry = int(input("Enter chemistry marks = "))
math = int(input("Enter  math marks = "))
english = int(input("Enter english marks = "))
nepali = int(input("Enter nepali marks = "))

total = physics + chemistry + math + english + nepali

per = total/5

print("The total marks = ",total)
print("The per = ",per)

Enter physics marks = 80
Enter chemistry marks = 56
Enter  math marks = 87
Enter english marks = 98
Enter nepali marks = 65
The total marks =  386
The per =  77.2

In [56]:
name = input("Enter name = ")
age = int(input("Enter age = "))
add = input("Enter add = ")

info = "Hello I am " + name + " I am from " + add + " I am " + str(age)
print(info)

Enter name = ram
Enter age = 34
Enter add = ktm
Hello I am ram I am from ktm I am 34

In [57]:
a = 27
print(a**(1/3))

3.0